.bg-semiblack-2{
    background-color: rgba(0, 0, 0, 0.355);
}

.slideAni{
    animation-name: slideAni;
    animation-timing-function: ease;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-direction: alternate;
}

@keyframes slideAni{
    from{
        transform: translateX(100%);
    }
    else{
        transform: translateX(0);
    }
}

.szh-accordion__item-btn{
    outline: 0px solid transparent;
    font-family: "Inter";
    font-size: 25px;
    font-weight: 550;
}

.szh-accordion__item-content{
    transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}