.bodyGradient {
    background: linear-gradient(45deg, #ffffff, #c8effc, #b9feff, #e4fbfb, #aee1ff);
    background-size: 500% 500%;
    animation: gradientBg 10s ease-in-out infinite;
}

@keyframes gradientBg {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.bg-semiwhite{
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
}

.bg-semiblack{
    background-color: rgba(0, 0, 0, 0.427);
    backdrop-filter: blur(20px);
}
