@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

body.light-mode {
  background-color: #fff;
  color: #333;
  /* transition: background-color 0.3s ease, color 0.3s ease; */
}

body.dark-mode {
  background-color: #1e1e1e;
  color: #f9f9f9;
  /* transition: background-color 0.3s ease, color 0.3s ease; */
}

.header.light-mode {
  background-color: #ffff;
  color: #333;
  /* transition: background-color 0.3s ease, color 0.3s ease; */
}

.header.dark-mode {
  background-color: #1e1e1e;
  color: #f9f9f9;
  /* transition: background-color 0.3s ease, color 0.3s ease; */
}

.theme-toggle {
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.toggle-switch {
  width: 60px;
  height: 30px;
  background-color: #ddd;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-switch.dark {
  background-color: #444;
}

.toggle-circle {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.toggle-switch.dark .toggle-circle {
  left: 33px; /* Dark modda sağa kaydır */
}

@font-face{
  font-family: "Inter";
  src: url("../fonts/InterVariable.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: "Roboto-light";
  src: url("../fonts/Roboto-Light.woff2") format("woff2");
  font-display: swap;
}


.roboto-thin {
    font-family: "Roboto";
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto-light";
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto";
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto";
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto";
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto";
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto";
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto";
    font-weight: 900;
    font-style: italic;
  }

  

  .inter-400{
    font-family: "Inter";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .inter-500{
    font-family: "Inter";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .inter-600{
    font-family: "Inter";
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

 
  